---
apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-configmap
  namespace: media
data:
  recyclarr.yml: |
    sonarr:
      sonarr:
        base_url: http://sonarr:8989
        api_key: !env_var SONARR_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true
        include:
          - template: sonarr-quality-definition-series
          - template: sonarr-v4-custom-formats-web-1080p
          - template: sonarr-v4-custom-formats-web-2160p
          - template: sonarr-v4-quality-profile-web-1080p
          - template: sonarr-v4-quality-profile-web-2160p
        custom_formats:
          - trash_ids:
            assign_scores_to:
              - name: WEB-2160p
          - trash_ids:
              - d6819cba26b1a6508138d25fb5e32293 # HD Bluray Tier 01
              - c2216b7b8aa545dc1ce8388c618f8d57 # HD Bluray Tier 02
              - 9965a052eb87b0d10313b1cea89eb451 # Remux Tier 01
              - 8a1d0c3d7497e741736761a1da866a2e # Remux Tier 02
              - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene
              - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01
              - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02
              - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03
              - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
              - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
              - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
              - 06d66ab109d4d2eddb2794d21526d140 # Retags
              - 1b3994c551cbb92a2c781af061f4ab44 # Scene
              - 9b64dff695c2115facf1b6ea59c9bd07 # x265 (no HDR/DV)
            assign_scores_to:
              - name: WEB-2160p
          - trash_ids:
              - 0c4b99df9206d2cfac3c05ab897dd62a # HDR10+ Boost
              - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
              - 7c3a61a9c6cb04f52f1544be6d44a026 # DV Boost
              - 9b27ab6498ec0f31a3353992e19434ca # DV (w/o HDR fallback)
            assign_scores_to:
              - name: WEB-2160p
                score: 0
    radarr:
      radarr:
        base_url: http://radarr:7878
        api_key: !env_var RADARR_API_KEY
        delete_old_custom_formats: true
        replace_existing_custom_formats: true
        include:
          - template: radarr-custom-formats-hd-bluray-web
          - template: radarr-custom-formats-remux-web-1080p
          - template: radarr-custom-formats-remux-web-2160p
          - template: radarr-custom-formats-uhd-bluray-web
          - template: radarr-quality-definition-movie
          - template: radarr-quality-profile-hd-bluray-web
          - template: radarr-quality-profile-remux-web-1080p
          - template: radarr-quality-profile-remux-web-2160p
          - template: radarr-quality-profile-uhd-bluray-web
        custom_formats:
          - trash_ids:
              - 496f355514737f7d83bf7aa4d24f8169 # TrueHD Atmos
              - 2f22d89048b01681dde8afe203bf2e95 # DTS X
              - 417804f7f2c4308c1f4c5d380d4c4475 # ATMOS (undefined)
              - 1af239278386be2919e1bcee0bde047e # DD+ ATMOS
              - 3cafb66171b47f226146a0770576870f # TrueHD
              - dcf3ec6938fa32445f590a4da84256cd # DTS-HD MA
              - a570d4a0e56a2874b64e5bfa55202a1b # FLAC
              - e7c2fcae07cbada050a0af3357491d7b # PCM
              - 8e109e50e0a0b83a5098b056e13bf6db # DTS-HD HRA
              - 185f1dd7264c4562b9022d963ac37424 # DD+
              - f9f847ac70a0af62ea4a08280b859636 # DTS-ES
              - 1c1a4c5e823891c75bc50380a6866f73 # DTS
              - 240770601cc226190c367ef59aba7463 # AAC
              - c2998bd0d90ed5621d8df281e839436e # DD
            assign_scores_to:
              - name: Remux + WEB 2160p
          - trash_ids:
              - 0f12c086e289cf966fa5948eac571f44 # Hybrid
              - 570bc9ebecd92723d2d21500f4be314c # Remaster
              - eca37840c13c6ef2dd0262b141a5482f # 4K Remaster
              - e0c07d59beb37348e975a930d5e50319 # Criterion Collection
            assign_scores_to:
              - name: Remux + WEB 2160p
          - trash_ids:
              - 923b6abef9b17f937fab56cfcf89e1f1 # DV (WEBDL)
              - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
            assign_scores_to:
              - name: Remux + WEB 2160p
                score: 0
