---
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: controllers
  namespace: system-upgrade
spec:
  version: "${KUBE_VERSION}"
  upgrade:
    image: rancher/k3s-upgrade:v1.34.3-k3s1@sha256:c5049f95e91246cfdd4f24b496f1478bb6a9e8f734a2d157beb1e930018d7594
  serviceAccountName: system-upgrade
  concurrency: 1
  cordon: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
  tolerations:
    - effect: NoSchedule
      operator: Exists
    - effect: NoExecute
      operator: Exists
    - key: node-role.kubernetes.io/control-plane
      effect: NoSchedule
      operator: Exists
    - key: node-role.kubernetes.io/master
      effect: NoSchedule
      operator: Exists
    - key: node-role.kubernetes.io/etcd
      effect: NoExecute
      operator: Exists
    - key: CriticalAddonsOnly
      operator: Exists
---
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: workers
  namespace: system-upgrade
spec:
  version: "${KUBE_VERSION}"
  serviceAccountName: system-upgrade
  concurrency: 1
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
  prepare:
    image: rancher/k3s-upgrade:v1.34.3-k3s1@sha256:c5049f95e91246cfdd4f24b496f1478bb6a9e8f734a2d157beb1e930018d7594
    args: ["prepare", "controllers"]
  drain:
    force: true
    skipWaitForDeleteTimeout: 60
  upgrade:
    image: rancher/k3s-upgrade:v1.34.3-k3s1@sha256:c5049f95e91246cfdd4f24b496f1478bb6a9e8f734a2d157beb1e930018d7594
