---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/ocirepository-source-v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: netbox
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 7.2.24@sha256:36255a5f4550bbf27e507d686460cc2d2cd84bb1a352d4e301b75b9c14bfa1d4
  url: oci://ghcr.io/netbox-community/netbox-chart/netbox
