---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: media
spec:
  interval: 1h
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      qbittorrent:
        pod:
          nodeSelector:
            disktype: ssd
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
          dnsPolicy: "None"
          dnsConfig:
            nameservers:
              - 192.168.0.8
            options:
              - name: ndots
                value: "2"
        containers:
          app:
            nameOverride: *app
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
            env:
              QBITTORRENT__PORT: &port 8080
              QBITTORRENT__BT_PORT: &bittorrentPort 6881
              TZ: ${TIMEZONE}
              UMASK: "022"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                memory: 1Gi
              limits:
                cpu: 1
                memory: 4Gi
            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.1@sha256:dc38bac12b40bb935e477f0dbd88adf174001c84b144c86648b25ff5f14ef54a
            env:
              DNS_ADDRESS: "127.0.0.1"
              DOT: "on"
              DOT_PROVIDERS: "cloudflare"
              FIREWALL_INPUT_PORTS: "8080,6881"
              FIREWALL_OUTBOUND_SUBNETS: 10.69.0.0/16
              HEALTH_VPN_DURATION_INITIAL: 30s
              HEALTH_VPN_DURATION_ADDITION: 10s
              HEALTH_SUCCESS_WAIT_DURATION: 10s
              SERVER_COUNTRIES: "Sweden"
            envFrom:
              - secretRef:
                  name: qbittorrent-secret
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
    service:
      app:
        controller: qbittorrent
        ports:
          http:
            port: *port
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: qbittorrent.png
          gethomepage.dev/name: qBittorrent
        hosts:
          - host: &host qbittorrent.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 2Gi
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
      downloads:
        enabled: true
        type: nfs
        server: ${NFS_SERVER}
        path: /downloads
        advancedMounts:
          qbittorrent:
            app:
              - path: /media/downloads
      movies:
        enabled: true
        type: nfs
        server: ${NFS_SERVER}
        path: /movies
        advancedMounts:
          qbittorrent:
            app:
              - path: /media/movies
      series:
        enabled: true
        type: nfs
        server: ${NFS_SERVER}
        path: /series
        advancedMounts:
          qbittorrent:
            app:
              - path: /media/series
      tmpfs:
        enabled: true
        type: emptyDir
        advancedMounts:
          qbittorrent:
            app:
              - path: /tmp
