---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
  namespace: &namespace media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      interval: 30m
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      jellyfin:
        pod:
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 2000
            runAsNonRoot: false
            runAsUser: 2000
            supplementalGroups:
              - 44
              - 110
        containers:
          app:
            image:
              repository: jellyfin/jellyfin
              tag: "10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85"
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_FFmpeg__analyzeduration: 20000000
              JELLYFIN_FFmpeg__probesize: 50000000
              JELLYFIN_PublishedServerUrl: "jellyfin.${SECRET_DOMAIN}"
              TZ: ${TIMEZONE}
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 500m
                memory: 512Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
    service:
      app:
        controller: jellyfin
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: jellyfin.png
          gethomepage.dev/name: Jellyfin
          gethomepage.dev/widget.type: jellyfin
          gethomepage.dev/widget.url: "https://jellyfin.${SECRET_DOMAIN}"
        hosts:
          - host: &host jellyfin.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 16Gi
        advancedMounts:
          jellyfin:
            app:
              - path: /config
      movies:
        enabled: true
        type: nfs
        server: 192.168.0.173
        path: /movies
        advancedMounts:
          jellyfin:
            app:
              - path: /media/movies
      series:
        enabled: true
        type: nfs
        server: 192.168.0.173
        path: /series
        advancedMounts:
          jellyfin:
            app:
              - path: /media/series
      cache:
        enabled: true
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
      transcode:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 6Gi
        advancedMounts:
          jellyfin:
            app:
              - path: /transcode
      fonts:
        type: hostPath
        hostPath: /usr/share/fonts
        globalMounts:
          - path: /usr/local/share/fonts

      # This stuff is necessary for the rockchip GPU to work
      # source: https://github.com/RonaldPhilipsen/home-ops/blob/main/kubernetes/apps/media/jellyfin/app/helmrelease.yaml
      dri:
        type: hostPath
        hostPath: /dev/dri
        globalMounts:
          - path: /dev/dri
      dma-heap:
        type: hostPath
        hostPath: /dev/dma_heap
        globalMounts:
          - path: /dev/dma_heap
      mali0:
        type: hostPath
        hostPath: /dev/mali0
        globalMounts:
          - path: /dev/mali0
      rga:
        type: hostPath
        hostPath: /dev/rga
        globalMounts:
          - path: /dev/rga
      mpp-service:
        type: hostPath
        hostPath: /dev/mpp_service
        globalMounts:
          - path: /dev/mpp_service
    defaultPodOptions:
      labels:
        app: jellyfin
        environment: production
        owner: willianpaixao
